<div class="container">
  <h1>STOCK TRACKER</h1>
  <h2>Enter the symbol of a stock to track (i.e AAPL, TSLA, GOOGL)</h2>

  <form [formGroup]="search" (ngSubmit)="trackStock()">
    <div>
      <input
        type="text"
        placeholder="enter a symbol"
        id="stockInput"
        formControlName="symbol"
      />
    </div>
    <div>
      <button class="btn" id="trackBtn" type="submit">Track Stock</button>
    </div>
  </form>
  <div>
    <app-stock  [quote]="result" [symbol]="result2" (onDelete)="deleteStock($event)"></app-stock>

  </div>
</div>
