.close {
  cursor: pointer;

  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}
.close:hover {background: #bbb;}

button{
  border: 0;
  font-size: 20px;
  cursor: pointer;
  right: 2px;
  top: 2px;
  background-color: transparent;
}

.btn-primary{
  background-color: darkgray;
  cursor: pointer;

}
